
@{
    ViewData["Title"] = "fav";
}

<h1>fav</h1>

@model IEnumerable<BikeWatcher.Models.Favoris>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDStation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDStation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>

        </tr>
    }
    </tbody>
</table>